
body .sender[mtype*=normal][colornumber='0'],
body .inline_nickname[colornumber='0'] {
	color: #ff91fe;
}

body .sender[mtype*=normal][colornumber='1'],
body .inline_nickname[colornumber='1'] {
	color: #ca91ff;
}

body .sender[mtype*=normal][colornumber='2'],
body .inline_nickname[colornumber='2'] {
	color: #9194ff;
}

body .sender[mtype*=normal][colornumber='3'],
body .inline_nickname[colornumber='3'] {
	color: #91d2ff;
}

body .sender[mtype*=normal][colornumber='4'],
body .inline_nickname[colornumber='4'] {
	color: #91ffcf;
}

body .sender[mtype*=normal][colornumber='5'],
body .inline_nickname[colornumber='5'] {
	color: #91ff94;
}

body .sender[mtype*=normal][colornumber='6'],
body .inline_nickname[colornumber='6'] {
	color: #c0ff91;
}

body .sender[mtype*=normal][colornumber='7'],
body .inline_nickname[colornumber='7'] {
	color: #f9ff91;
}

body .sender[mtype*=normal][colornumber='8'],
body .inline_nickname[colornumber='8'] {
	color: #ffc291;
}

body .sender[mtype*=normal][colornumber='9'],
body .inline_nickname[colornumber='9'] {
	color: #ff4bac;
}

body .sender[mtype*=normal][colornumber='10'],
body .inline_nickname[colornumber='10'] {
	color: #e85bf9;
}

body .sender[mtype*=normal][colornumber='11'],
body .inline_nickname[colornumber='11'] {
	color: #9e69ff;
}

body .sender[mtype*=normal][colornumber='12'],
body .inline_nickname[colornumber='12'] {
	color: #7f99f9;
}

body .sender[mtype*=normal][colornumber='13'],
body .inline_nickname[colornumber='13'] {
	color: #4bc6ff;
}

body .sender[mtype*=normal][colornumber='14'],
body .inline_nickname[colornumber='14'] {
	color: #4bffdb;
}

body .sender[mtype*=normal][colornumber='15'],
body .inline_nickname[colornumber='15'] {
	color: #4bff93;
}

body .sender[mtype*=normal][colornumber='16'],
body .inline_nickname[colornumber='16'] {
	color: #4bff4f;
}

body .sender[mtype*=normal][colornumber='17'],
body .inline_nickname[colornumber='17'] {
	color: #97ff4b;
}

body .sender[mtype*=normal][colornumber='18'],
body .inline_nickname[colornumber='18'] {
	color: #e3ff4b;
}

body .sender[mtype*=normal][colornumber='19'],
body .inline_nickname[colornumber='19'] {
	color: #ffb94b;
}

body .sender[mtype*=normal][colornumber='20'],
body .inline_nickname[colornumber='20'] {
	color: #ff824b;
}

body .sender[mtype*=normal][colornumber='21'],
body .inline_nickname[colornumber='21'] {
	color: #d05e2c;
}

body .sender[mtype*=normal][colornumber='22'],
body .inline_nickname[colornumber='22'] {
	color: #cab732;
}

body .sender[mtype*=normal][colornumber='23'],
body .inline_nickname[colornumber='23'] {
	color: #97de10;
}

body .sender[mtype*=normal][colornumber='24'],
body .inline_nickname[colornumber='24'] {
	color: #95c990;
}

body .sender[mtype*=normal][colornumber='25'],
body .inline_nickname[colornumber='25'] {
	color: #04bb5f;
}

body .sender[mtype*=normal][colornumber='26'],
body .inline_nickname[colornumber='26'] {
	color: #09c1cc;
}

body .sender[mtype*=normal][colornumber='27'],
body .inline_nickname[colornumber='27'] {
	color: #5baeed;
}

body .sender[mtype*=normal][colornumber='28'],
body .inline_nickname[colornumber='28'] {
	color: #9d4ef6;
}

body .sender[mtype*=normal][colornumber='29'],
body .inline_nickname[colornumber='29'] {
	color: #ac69cb;
}

body .sender[mtype*=normal][colornumber='30'],
body .inline_nickname[colornumber='30'] {
	color: #b902c9;
}
